<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">환영합니다!</h1>
                  </div>

                  <form class="user" action="/login" method="post">

                    <div class="form-group">
                      <input type="text" id="username" name="username" value="<%= username %>" class="form-control form-control-user <%= (errors.username)?'is-invalid':'' %>" placeholder="Enter Email Address...">
                      <% if(errors.username){ %>
                        <span class="invalid-feedback"><%= errors.username %></span>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <input type="password" id="password" name="password" class="form-control form-control-user <%= (errors.password)?'is-invalid':'' %>" placeholder="Password">
                      <% if(errors.password){ %>
                        <span class="invalid-feedback"><%= errors.password %></span>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" name="loginCheck" id="loginCheck">
                        <label class="custom-control-label" for="customCheck">로그인 상태유지</label>
                      </div>
                    </div>

                    <% if(errors.login){ %>
                      <div class="invalid-feedback d-block"><%= errors.login %></div>
                    <% } %>

                    <input type="submit" value="로그인" class="btn btn-primary btn-user btn-block" name="submitButton" id="submitButton"></input>

                  </form>

                  <hr>
                  <div class="text-center">
                    <a class="small" href="/forgot-password">비밀번호를 잊으셨나요?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/users/new">새 계정 만들기</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <%- include('../partials/js') %>
</body>

</html>
