<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('../partials/topbar') %>


        <div class="container mb-3">

          <h3 class="mb-3">Edit User</h3>







          <form action="/users/<%= username %>?_method=put" method="post">

            <div class="form-group row">
              <label for="currentPassword" class="col-sm-3 col-form-label">Current Password*</label>
              <div class="col-sm-9 col-sm-offset-3">
                <input type="password" id="currentPassword" name="currentPassword" value=""
                  class="form-control <%= (errors.currentPassword)?'is-invalid':'' %>">
                <% if(errors.currentPassword){ %>
                <span class="invalid-feedback"><%= errors.currentPassword.message %></span>
                <% } %>
              </div>
            </div>

            <hr>
            </hr>

            <div class="form-group row">
              <label for="username" class="col-sm-3 col-form-label">Username</label>
              <div class="col-sm-9">
                <input type="text" id="username" name="username" value="<%= user.username %>" readonly
                  class="form-control <%= (errors.username)?'is-invalid':'' %>">
                <% if(errors.username){ %>
                <span class="invalid-feedback"><%= errors.username.message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" id="name" name="name" value="<%= user.name %>" readonly
                  class="form-control <%= (errors.name)?'is-invalid':'' %>">
                <% if(errors.name){ %>
                <span class="invalid-feedback"><%= errors.name.message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <label for="subject" class="col-sm-3 col-form-label">Subject</label>
              <div class="col-sm-9">
                <% subjects.forEach(function(subject) { %>
                <input type='checkbox' id='subject' name='subject[]' value= <%= subject.subject %> > <%= subject.subject %></input> &nbsp&nbsp
                <% }) %>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPassword" class="col-sm-3 col-form-label">New Password*</label>
              <div class="col-sm-9 col-sm-offset-3">
                <input type="password" id="newPassword" name="newPassword" value=""
                  class="form-control <%= (errors.newPassword)?'is-invalid':'' %>">
                <% if(errors.newPassword){ %>
                <span class="invalid-feedback"><%= errors.newPassword.message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <label for="passwordConfirmation" class="col-sm-3 col-form-label">Password Confirmation*</label>
              <div class="col-sm-9 col-sm-offset-3">
                <input type="password" id="passwordConfirmation" name="passwordConfirmation" value=""
                  class="form-control <%= (errors.passwordConfirmation)?'is-invalid':'' %>">
                <% if(errors.passwordConfirmation){ %>
                <span class="invalid-feedback"><%= errors.passwordConfirmation.message %></span>
                <% } %>
              </div>
            </div>

            <p>
              <small>*Required</small>
            </p>

            <% if(errors.unhandled){ %>
            <div class="alert alert-danger">
              <%= errors.unhandled %>
            </div>
            <% } %>

            <div class="buttons">
              <a class="btn btn-primary" href="/users/<%= username %>">Back</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>

        </div>
        <!-- /.container mb-3 -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('../partials/footer') %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <%- include('../partials/js') %>


</body>

</html>